<div data-role="content">
  <div data-role="navbar" data-iconpos="left">
    <ul>
      <li><a href="<%= url_for(:action => 'index', :controller => 'welcome',:format=>'tablet') %>"  data-icon="home" >Home</a>    </li>
      <li><a href="<%= url_for(:action => 'services', :controller => 'welcome',:format=>'tablet') %>" data-icon="gear">Services</a>   </li>
      <li><a href="<%= url_for(:action => 'contact', :controller => 'welcome',:format=>'tablet') %>" class="ui-btn-active" data-icon="info">Contact</a>       </li>
    </ul>
  </div><!-- /navbar -->

  <div class="head1"> Contact Us</div>

  <%= form_tag 'sendmail',:method => :get, :remote => true  do -%>

      <div>Name</div> <%= text_field("cruncher", "name", {:value=>params[:name]})%> <br/>
      <div>Subject</div> <%= text_field("cruncher", "subject", {:value=>params[:subject]})%>  <br/>
      <div>Email</div><%= email_field("cruncher", "address", {:value=>params[:address]})%> <br/>
      <div>Message</div>  <%= text_area("cruncher", "bodydata",{:value=>params[:bodydata]})%> <br>
      <%= submit_tag "Send Mail"%>
  <% end -%>

  <div class="notice2"><%= notice %></div>


</div><!-- /content -->