<div id="navigation">
  <div id="navigationspace">
    &nbsp;
  </div>

  <ul class="dropdown">
    <li><a href="<%= url_for(:action => 'index', :controller => 'welcome') %>">Home</a>    </li>
    <li><a href="<%= url_for(:action => 'services', :controller => 'welcome') %>">Services</a>   </li>
    <li><a href="<%= url_for(:action => 'contact', :controller => 'welcome') %>">Contact</a>       </li>
  </ul>
</div>

<div id="firstColumn">

  <div class="head1"> Contact Us</div>

      <%= form_tag 'sendmail',:method => :get,:id => 'contactForm' do -%>

          <div class="labelText">Name</div> <%= text_field("cruncher", "name", {:value=>params[:name]})%> <br/>
          <div class="labelText">Subject</div> <%= text_field("cruncher", "subject", {:value=>params[:subject]})%>  <br/>
          <div class="labelText">Email</div><%= email_field("cruncher", "address", {:value=>params[:address]})%> <br/>
          <div class="labelText">Message</div>  <%= text_area("cruncher", "bodydata",{:value=>params[:bodydata]})%> <br>
          <%= submit_tag "Send Mail"%>
      <% end -%>

  <div class="notice2"><%= notice %></div>

</div>

<div id="lastColumn">

  <div class="head2"> Address</div>

  <div class="contactpara">Post Box  No: 709, <br/> East Fort, Thrissur, <br/>Kerala, India 680005 </div>

  <div class="head2"> Location</div>
  <iframe frameborder=0 marginwidth=0 marginheight=0 border=0 style="border:0;margin:0;width:300px;height:250px;" src="http://www.google.com/uds/modules/elements/mapselement/iframe.html?maptype=roadmap&latlng=10.618599%2C76.036891&mlatlng=10.618599%2C76.036891&maddress1=Muttath%2C%20kottapady&maddress2=Kerala%20680505%2C%20India&mtitle=Klairvoyant%20Infosolutions&element=true" scrolling="no" allowtransparency="true"></iframe>

</div>





