<div id="navigation">
  <div id="navigationspace2">
    &nbsp;
  </div>

  <ul id="menu2" class="dropdown">
    <li><a href="<%= url_for(:action => 'index', :controller => 'welcome') %>">Home</a>    </li>
    <li><a href="<%= url_for(:action => 'rails', :controller => 'welcome') %>">Rails</a>   </li>
    <li><a href="<%= url_for(:action => 'design', :controller => 'welcome') %>">Web</a>   </li>
    <li><a href="<%= url_for(:action => 'graphic', :controller => 'welcome') %>">Graphic</a>   </li>
    <li><a href="<%= url_for(:action => 'marketing', :controller => 'welcome') %>">Marketing</a>   </li>
    <li><a href="<%= url_for(:action => 'contact', :controller => 'welcome') %>">Contact</a>       </li>
  </ul>
</div>
<div id="firstColumn">
  <div class="head1"> Ruby On Rails</div>

  <div class="para">
  We provide web solutions using ruby on rails and  related web technologies like jQuery,Compass, Blueprint,and MySQL.

  <br/>

  We also provide services using Google Map API, Heroku, GitHub, and pivotalTracker.
    </div>
</div>

<div id="lastColumn">


  <div class="head2"> portfolio</div>

  http://www.behance.net/klairvoyant/frame
  <div class="head2"> Rails Tips</div>

   <!--<script src="http://feeds.feedburner.com/RubyOnRailsTips?format=sigpro" type="text/javascript" ></script><noscript><p>Subscribe to RSS headline updates from: <a href="http://feeds.feedburner.com/RubyOnRailsTips"></a><br/>Powered by FeedBurner</p> </noscript>-->
  <!--<script src="http://feeds.feedburner.com/RubyOnRailsTips?format=sigpro" type="text/javascript" ></script><noscript><p>Subscribe to RSS headline updates from: <a href="http://feeds.feedburner.com/RubyOnRailsTips"></a><br/>Powered by FeedBurner</p> </noscript>-->
  <script src="http://feeds.feedburner.com/RubyOnRailsTips?format=sigpro" type="text/javascript" ></script><noscript><p>Subscribe to RSS headline updates from: <a href="http://feeds.feedburner.com/RubyOnRailsTips"></a><br/>Powered by FeedBurner</p> </noscript>

</div>





