<div id="navigation">
  <div id="navigationspace2">
    &nbsp;
  </div>

  <ul id="menu2" class="dropdown">
    <li><a href="<%= url_for(:action => 'index', :controller => 'welcome') %>">Home</a>    </li>
    <li><a href="<%= url_for(:action => 'rails', :controller => 'welcome') %>">Rails</a>   </li>
    <li><a href="<%= url_for(:action => 'design', :controller => 'welcome') %>">Web</a>   </li>
    <li><a href="<%= url_for(:action => 'graphic', :controller => 'welcome') %>">Graphic</a>   </li>
    <li><a href="<%= url_for(:action => 'marketing', :controller => 'welcome') %>">Marketing</a>   </li>
    <li><a href="<%= url_for(:action => 'contact', :controller => 'welcome') %>">Contact</a>       </li>
  </ul>
</div>
<div id="firstColumn">

  We provide web solutions using ruby on rails and  related web technologies like jQuery, ERB, HAML, SASS, Blueprint, HTML 5, Ajax, JSON,CSS,YAML and MySQL.

  Application API

  We provide services using 1) Google Map API, 2) Facebook API

  Share code, Cloud share and CMS

  Provide service to implement applications in Heroku, GitHub, pivotalTracker and using  Radiant CMS.
</div>

<div id="lastColumn">

  services

  graphic design,
  web design
  internet marketing

  portfolio

  http://www.behance.net/klairvoyant/frame

   <!--<script src="http://feeds.feedburner.com/RubyOnRailsTips?format=sigpro" type="text/javascript" ></script><noscript><p>Subscribe to RSS headline updates from: <a href="http://feeds.feedburner.com/RubyOnRailsTips"></a><br/>Powered by FeedBurner</p> </noscript>-->
  <script src="http://feeds.feedburner.com/RubyOnRailsTips?format=sigpro" type="text/javascript" ></script><noscript><p>Subscribe to RSS headline updates from: <a href="http://feeds.feedburner.com/RubyOnRailsTips"></a><br/>Powered by FeedBurner</p> </noscript>

</div>





