<!DOCTYPE html>
<html>
<head>
  <title>Klairvoyantsite</title>
  <%= stylesheet_link_tag    "application" %>
  <%= stylesheet_link_tag    "http://fonts.googleapis.com/css?family=Tangerine" %>
  <%= stylesheet_link_tag    "http://fonts.googleapis.com/css?family=Varela+Round" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!-- Google plus -->
  <link href="https://plus.google.com/105958712545412704818" rel="publisher" />
  <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-8635375-3']);
      _gaq.push(['_trackPageview']);

      (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  </script>
  <meta name="msvalidate.01" content="5BDA6BF29038F3C9A23C3B2F6E8D5A37" />
  <meta name="google-site-verification" content="MmGP1-Zg6NeDEHBen88L_pB5YUqKzgt_gThR2w01FH4" />
</head>
<body>

<div id="headSection">
  Klairvoyant  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Infosolutions

</div>

<div id="leftside">
    <!--&nbsp;-->
</div>

<%= yield %>

<div id="rightside">
  <!--&nbsp;-->
</div>

<div id="footerSection">
  <div id='translate'>
    <!-- Google Translate Element -->
    <div id="google_translate_element" style="display:block"></div><script>
      function googleTranslateElementInit() {
          new google.translate.TranslateElement({pageLanguage: "en"}, "google_translate_element");
      };</script>
    <script src="http://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
  </div>

  <div id="time">
    <iframe src="http://free.timeanddate.com/clock/i314wdpb/n1892/tct/pct/ftb/pd2/tt0/tw1/tm1/ts1/ta1/tb4" frameborder="0" width="129" height="34" allowTransparency="true"></iframe>
  </div>
  <div id="skype">
    <!--
    Skype 'My status' button
    http://www.skype.com/go/skypebuttons
    -->
    <script type="text/javascript" src="http://download.skype.com/share/skypebuttons/js/skypeCheck.js"></script>
    <a href="skype:klairvoyantinfo?chat"><img src="http://mystatus.skype.com/mediumicon/klairvoyantinfo" style="border: none;" width="26" height="26" alt="My status" /></a>
  </div>

  <div id='googleplus'>
  <!-- google plus -->
  <a href="https://plus.google.com/105958712545412704818?prsrc=3" style="text-decoration:none;"><img src="https://ssl.gstatic.com/images/icons/gplus-32.png" alt="" style="border:0;width:32px;height:32px;"/></a>
  </div>
  <div id="facebook">
    <!-- Facebook Badge START --><a href="https://www.facebook.com/klairvoyant.info" target="_TOP" title="Klairvoyant Infosolutions"><img src="https://badge.facebook.com/badge/176523462377124.2170.36631937.png" style="border: 0px;" /></a><!-- Facebook Badge END -->
  </div>
    <div id='linkedin'>
   <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
      <script type="IN/CompanyProfile" data-id="2146610" data-format="hover" data-related="false"></script>

  </div>
  <div id="twitter">
    <a href="https://twitter.com/klairvoyantinfo" class="twitter-follow-button" data-show-count="false" data-size="large" data-show-screen-name="false">Follow @klairvoyantinfo</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
  <div id="addThis">

    <!-- AddThis Button BEGIN -->
    <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
      <a class="addthis_button_preferred_1"></a>
      <a class="addthis_button_preferred_2"></a>
      <a class="addthis_button_preferred_3"></a>
      <a class="addthis_button_preferred_4"></a>
      <a class="addthis_button_compact"></a>
      <a class="addthis_counter addthis_bubble_style"></a>
    </div>
    <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=klairvoyant"></script>
    <!-- AddThis Button END -->
  </div>

</div>

</body>
</html>
